<script type="module" src="/blog/js/dynamic-color.js"></script>
<script>
(function () {
  var bar = document.createElement('div');
  bar.id = 'md-read-progress';
  document.body.appendChild(bar);
  function update() {
    var d = document.documentElement;
    var st = d.scrollTop || document.body.scrollTop;
    var sh = d.scrollHeight - d.clientHeight;
    bar.style.width = (sh > 0 ? (st / sh) * 100 : 0) + '%';
  }
  document.addEventListener('scroll', update, { passive: true });
  window.addEventListener('resize', update);
  update();
})();
</script>
